#gamebox {
  width: 1400px;
  height: 800px;
  border: 1px solid #000;
  margin: 20px 0px 0px 40px;
}

#start {
  width: 1380px;
  height: 780px;
  margin: 10px;
  background: #ccf;
  position: absolute;
  z-index: 1;
}

#game {
  width: 1380px;
  height: 780px;
  margin: 10px;
  background: #cfc;
  position: absolute;
  z-index: 2;
}

#over {
  width: 1380px;
  height: 780px;
  margin: 10px;
  background: #fcc;
  position: absolute;
  z-index: 3;
}
